<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto CDA Grupo 10</title>
</head>
<body>
    <h1> Fidelización Cursos Udemy </h1>
    <br />
    <hr>
    <p align="left">Modelo 1: Predicción numero de reviews a partir de número de suscriptores</p>

    <form action = "http://localhost:5000/CalcularModelo1" method = "GET">
       <p>Ingrese valor para el número de suscriptores (no acepta valores negativos, puntos o comas):  <input type="number" min="0" name="idParMetodo1" oninput="validity.valid||(value='');"/></p>
       <p><input type = "submit" value = "Calcular" /></p>
    </form>

    <label>Valor de la predicción de la cantidad de reviews:</label>
    <input type="text" id="ResultadoModelo1" readonly value={{ resultado }}>
    <hr>


    <p align="left">Modelo 2: Predicción número de suscriptores a partir de las siguientes variables</p>
    <form action = "http://localhost:5000/CalcularModelo2" method = "GET">
        <p>Ingrese valor del precio (no acepta valores negativos, puntos o comas):  <input type="number" min="0" name="idPar1Metodo2" oninput="validity.valid||(value='');"/></p>
        <br />
        <p>Ingrese valor para la duracion del contenido (no acepta valores negativos, puntos o comas):  <input type="number" min="0" name="idPar2Metodo2" oninput="validity.valid||(value='');"/></p>
        <br />
        <p>Ingrese valor para el número de lectura (no acepta valores negativos, puntos o comas):  <input type="number" min="0" name="idPar3Metodo2" oninput="validity.valid||(value='');"/></p>
        <br />
        <p><input type = "submit" value = "Calcular" /></p>
    </form>
    <br />
    <label>Valor de la predicción de la cantidad de suscriptores (no acepta valores negativos, puntos o comas):</label>
    <input type="text" id="ResultadoModelo2" readonly value={{ resultado2 }}>
</body>
</html>